$primary-color: #02a774;

%ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin clear-float {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin bottom-border-1px($color) {
  position: relative;
  border: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color;
  }
}

@mixin top-border-1px($color) {
  position: relative;
  border: none;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: $color;
  }
}
